In [1]:
import numpy as np

In [2]:
mylist=[1,2,3,4,5]
type(mylist)

list

In [6]:
nparray=np.array([1,2,3,4])
print(nparray)

[1 2 3 4]

In [17]:
arr=np.array([1,2,3,4])
re=np.reshape(arr,(2,2))
re

array([[1, 2],
       [3, 4]])

array([[1, 2],
       [3, 4]])

In [18]:
np.__version__

'1.21.5'

In [19]:
np.random.normal(range(3))

array([1.57325178, 2.90823374, 1.27161805])

In [1]:
# Linear Regression ISUBU
# Gauss (least square)

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("Advertising.csv")
df=data.copy()
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [3]:
df.shape

(200, 4)

In [4]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [6]:
df.describe().T

           count      mean        std  min     25%     50%      75%    max
TV         200.0  147.0425  85.854236  0.7  74.375  149.75  218.825  296.4
radio      200.0   23.2640  14.846809  0.0   9.975   22.90   36.525   49.6
newspaper  200.0   30.5540  21.778621  0.3  12.750   25.75   45.100  114.0
sales      200.0   14.0225   5.217457  1.6  10.375   12.90   17.400   27.0

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
x=df[["TV"]]

In [9]:
y=df[["sales"]]

In [12]:
reg=LinearRegression()
model=reg.fit(x,y)

In [13]:
model

LinearRegression()

In [14]:
str(model)

'LinearRegression()'

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df=pd.read_table('fruit_data_with_colors.txt')
data=df.copy()
data.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

ModuleNotFoundError: No module named 'tensorflow'