In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import waarnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'waarnings'

In [4]:
data=pd.read_csv("athlete_events.csv")
df=data.copy()

In [5]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [7]:
df.shape

(271116, 15)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [10]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [15]:
df.rename(columns={'ID':'id'},inplace=True) # featururse cosumize

In [16]:
df=df.drop(['id','Games'],axis=1) # drop

In [18]:
# unique
essiz_etkinlik=pd.unique(df.Event)
print("Essis etkinlik sayisi: {}".format(len(essiz_etkinlik)))
essiz_etkinlik[:10]

Essis etkinlik sayisi: 765

array(["Basketball Men's Basketball", "Judo Men's Extra-Lightweight",
       "Football Men's Football", "Tug-Of-War Men's Tug-Of-War",
       "Speed Skating Women's 500 metres",
       "Speed Skating Women's 1,000 metres",
       "Cross Country Skiing Men's 10 kilometres",
       "Cross Country Skiing Men's 50 kilometres",
       "Cross Country Skiing Men's 10/15 kilometres Pursuit",
       "Cross Country Skiing Men's 4 x 10 kilometres Relay"], dtype=object)

In [27]:
# her bir etkinligi itaratif olark dolas
# boy kilp ortlari heasapla
# NaN degerelri yerine ortlarını koy
gdf=df.copy()
boy_kilo_list=["Height","Weight"]
for e in essiz_etkinlik:
    etkinlik_fitre = gdf.Event == e
    veri_filtreli = gdf[etkinlik_fitre]
for s in boy_kilo_list:
    ortalama=np.round(np.mean(veri_filtreli[s]),2)
    if ~np .isnan(ortalama):
        veri_filtreli[s]=veri_filtreli[s].fillna(ortalama)
    else:
        tum_veri_ortalaması=np.round(np.mean(df[s]),2)
        veri_filtreli[s] = veri_filtreli[s].fillna(tum_veri_ortalaması)
gdf[etkinlik_fitre]=veri_filtreli
df=gdf.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 13 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    271116 non-null  object
 1   Sex     271116 non-null  object
 2   Age     261642 non-null  float64
 3   Height  210946 non-null  float64
 4   Weight  208242 non-null  float64
 5   Team    271116 non-null  object
 6   NOC     271116 non-null  object
 7   Year    271116 non-null  int64
 8   Season  271116 non-null  object
 9   City    271116 non-null  object
 10  Sport   271116 non-null  object
 11  Event   271116 non-null  object
 12  Medal   39783 non-null   object
dtypes: float64(3), int64(1), object(9)
memory usage: 26.9+ MB

C:\Users\user\AppData\Local\Temp\ipykernel_14992\2595660077.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veri_filtreli[s] = veri_filtreli[s].fillna(tum_veri_ortalaması)

In [30]:
yas_ortalamasi=np.round(np.mean(df.Age),2)
df.Age=df["Age"].fillna(yas_ortalamasi)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 13 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    271116 non-null  object
 1   Sex     271116 non-null  object
 2   Age     271116 non-null  float64
 3   Height  210946 non-null  float64
 4   Weight  208242 non-null  float64
 5   Team    271116 non-null  object
 6   NOC     271116 non-null  object
 7   Year    271116 non-null  int64
 8   Season  271116 non-null  object
 9   City    271116 non-null  object
 10  Sport   271116 non-null  object
 11  Event   271116 non-null  object
 12  Medal   39783 non-null   object
dtypes: float64(3), int64(1), object(9)
memory usage: 26.9+ MB

In [31]:
# Matplotlib,Seaborn,Ploltly